.content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 65px;
}

.app__switchtab {
  background-color: #203040;
  width: 100%;
  height: 50px;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
}

.app__switchtab nav::after {
  content: "";
  background-color: #000;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 49px;
  filter: blur(0.5px);
}

.app__switchtab nav label {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s ease;
}

#news:checked~nav label .news,
#trading:checked~nav label .trading,
#bitcoin:checked~nav label .bitcoin,
#blockchain:checked~nav label .blockchain,
#ethereum:checked~nav label .ethereum,
#altcoins:checked~nav label .altcoins,
#metaverse:checked~nav label .metaverse {
  color: #6f55ca;
}

input[type="radio"] {
  display: none;
}

.app__switchtab nav .slider {
  position: absolute;
  height: 4.5px;
  background-color: #6f55ca;
  border-radius: 20px;
  width: 20%;
  z-index: 1;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  filter: blur(0.4px);
}

#news:checked~nav .slider {
  left: 0%;
}

#trading:checked~nav .slider {
  left: 13%;
}

#bitcoin:checked~nav .slider {
  left: 23%;
}

#blockchain:checked~nav .slider {
  left: 23%;
}

#ethereum:checked~nav .slider {
  left: 50%;
}

#altcoins:checked~nav .slider {
  left: 71%;
}

#metaverse:checked~nav .slider {
  left: 92%;
}

#news:checked~nav .news {
  color: #6f55ca;
}

#trading:checked~nav .trading {
  color: #6f55ca;
}

#bitcoin:checked~nav .bitcoin {
  color: #6f55ca;
}

#blockchain:checked~nav .blockchain {
  color: #6f55ca;
}

#ethereum:checked~nav .ethereum {
  color: #6f55ca;
}

#altcoins:checked~nav .altcoins {
  color: #6f55ca;
}

#metaverse:checked~nav .metaverse {
  color: #6f55ca;
}

/* Add this CSS for responsive styles */
.app__switchtab nav {
  display: flex;

  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: relative;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  -ms-overflow-style: none;
  /* Hide scrollbar on IE and Edge */
  scrollbar-width: none;
  /* Hide scrollbar on Firefox */
}

.app__switchtab nav::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar on WebKit browsers */
}

.app__switchtab nav label {
  scroll-snap-align: start;
}

/* Additional styling for active tab */

/* Hide radio buttons for smaller screens */

/* styling the porfolio */

table {
  color: #b1b4c3;
  width: 100%;
  border-collapse: collapse;
}

tr {
  display: flex;
  word-wrap: break-word;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #2e3142;
}

tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

td {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

/* Styling the top Markets */

.binance__item {
  display: flex;

  align-items: center;
  gap: 10px;
}

.exchange__detail {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 14px;
}

.name__ofexchange {
  display: flex;
  font-size: 11px;
}

.list__ofechange {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 16px;
}

.amount__exchange {
  color: white;
}

/* stlying search currency  */
.linkWithoutUnderline {
  text-decoration: none !important;
  text-decoration: none;
  color: white;
}

.tabactive {
  border-bottom: 3px solid #6f55ca;
  transition: all 0.3s ease;
}


.advertise__header {
  width: 100%;
  height: 200px;
  background-color: #2e3142;
}

.advertise__speaker {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  width: 100%;
  background-color: #ffd22c;
  margin-top: 10px;
  border-radius: 10px;
}

.speaker {
  color: #454960;
}


.advertise__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.button__deposit,
.button__withdraw {

  width: 50%;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 13px;
  border-radius: 10px;
  cursor: pointer;
}

.button__deposit {
  background-color: #4caf50;
  /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button__withdraw {
  background-color: rgb(19, 54, 75);
  /* Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action__cirlce {
  background-color: #24557f;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.adverstise__actions {
  align-items: center;
  text-align: center;
  margin-top: 10px;
  padding: 10px 10px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  border-radius: 10px;
}

.button__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  cursor: pointer;
}

.hall {
  color: black !important;
}

.content__vip {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.vip {
  display: flex;
  background-color: #fff;
  width: 100%;
  padding: 10px 10px;
  border-radius: 10px;
  gap: 20px
}

.vip__image {
  background-color: #6f55ca;
  width: 50%;

  border-radius: 10px;
}

.content__footer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.user__notification {
  background-color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}


.user__details {
  display: flex;
  gap: 15px;
  align-items: center;
  border-bottom: 1px solid #808080;
  padding-bottom: 20px;

}

.user__cirlce {
  width: 50px;
  height: 50px;
  background-color: #1636eb;
  border-radius: 50%;
}

.user__text {
  font-size: 13px;
  color: #2e3142 !important;
}

.speaker {
  font-size: 30px;
}

.speaker__text {
  font-size: 15px;
}

.vip__description {
  display: grid;
  grid-template-columns: 60% 40%;
}

.description__key {
  font-size: 15px;
}

.description__value {
  color: #b1b4c3;
  font-size: 15px;
}

.vip__title {
  font-size: large;
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}

.order__header {
  background-color: green;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.order__record {
  color: white;
  font-size: 21px;
  margin: 10px 10px;
}

.order__background {
  background-color: white;
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: auto;
  border-radius: 10px;
  position: relative;
  bottom: -1px
}

.order__remaining {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list__actions {
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  margin-top: 20px;

}

.list__actions span {
  font-size: small;
  cursor: pointer;
  color: #000;
}

.list__product {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
  margin-bottom: 20px;
}

.single__product {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 0px 10px 20px;
}

.bottom__cadre {
  display: flex;
  flex-direction: column;
}

.cadre__detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.product__image {
  background-color: #bcc1de;
  width: 100%;
  height: 90px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  gap: 20px;
}


.product__detail {
  display: flex;
  flex-direction: column;
  gap: 15px
}

.no__moredata {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  font-size: 17px;
}

.image__ {
  border: 1px solid #000;
  width: 100px;
  height: 100%;
}

.grap__order {
  background-color: #203040;
  width: 100%;
  height: 230px;
}

.button__grap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.order__comission {
  background-color: white;
  padding: 10px 20px;
  margin: 20px 0;
}

.button__upgrade,
.grap {
  width: 50%;
  background-color: #6f55ca;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
}

.today__achievements {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-top: 10px;
}

.achievements__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px
}

.group__comission {
  display: flex;
  flex-direction: column;
  border: 1px solid #203040;
  align-items: center;
  justify-content: center;
  padding: 25px;
  text-align: center;
  gap: 25px
}

.comission__smallmessage {
  padding-top: 25px;
  font-size: small !important;
}

.rules__description {
  background-color: #fff;
  padding: 10px;
  padding: 20px;
  border-radius: 10px;
}

li {
  list-style: none;
  font-size: 15px;
}

.app__grappage {
  margin-bottom: 80px;
}

.rules__list {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.click {
  cursor: pointer;
}

/* Styling the online page  */

.online__header {
  background-color: #2e3142;
  width: 100%;
  color: whitesmoke;
  padding: 20px;
}

.contact__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  justify-content: space-between;
}

.contact__online {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 10px;
  max-width: 165px;
}

.list__header {
  background-color: yellowgreen !important;
}

.online__image {
  background-color: #203040 !important;
}

.online__footer {
  background-color: #6f55ca !important;
}

.profile__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px
}

.profile__link {
  border: 1px solid #b1b4c3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 14px;
  font-size: 14px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.profile__vip {
  width: 60px;
  height: 60px;
  background-color: #203040;
  border-radius: 10px;
}

.profile__header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

img {
  max-width: 100%;

  object-fit: cover;
}

.thumbs {
  display: none;
}



.news-ticker-container {
  width: 100%;
  overflow: hidden;
}

.news-ticker {
  white-space: nowrap;
  animation: ticker 10s linear infinite;
}

.news-ticker span {
  display: inline-block;
  padding-right: 100%;
}

@keyframes ticker {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.action__label {
  font-size: 14px;
}